.div1 {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #068258;
  text-align: center;
}
.div1 h1 {
  margin: 0px;
  padding: 1rem;
}
.messages {
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  background-color: #fff;
  overflow-y: scroll;
  background-color: rgb(11, 20, 26);
}
.inputmessages {
  position: relative;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form input {
  border: none;
  width: 75%;
  color: black;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  padding: 0.5rem;
}
.form button {
  margin: 0.5rem;
  height: 2rem;
  padding: 0.5rem;
  width: 20%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #f4f4f4;
  background-color: black;
  border-radius: 10px;
}
.ebtn,
.dbtn {
  width: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dbtn {
  background-color: red;
}
.ebtn {
  background-color: green;
}

.items {
  background-color: #06c2f6;
}
.you {
  background-color: #06c2f6;
  margin-left: 36%;
}
.joined {
  color: white;
}
.other {
  background-color: #f4f4f4;
  width: 60%;
}
