.div {
  margin-left: 20%;
  border-radius: 10px;
  width: 60%;
  background-color: #068258;
  text-align: center;
}
.messages {
  box-sizing: border-box;
  width: 100%;
  height: 490px;
  border: 2px black solid;
  background-color: #fff;
  overflow-y: scroll;
}
.form {
  display: flex;
  justify-content: space-around;
}

.form input {
  width: 50%;
  color: black;
  font-size: 30px;
  border-radius: 10px;
}
.form button {
  width: 20%;
  outline: none;
  font-size: 17px;
  color: #f4f4f4;
  background-color: black;
  border-radius: 10px;
}
.ebtn,
.dbtn {
  width: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dbtn {
  background-color: red;
}
.ebtn {
  background-color: green;
}

.items {
  background-color: #06c2f6;
}
.Rahul {
  background-color: #06c2f6;
  margin-left: 36%;
}
.Sandesh {
  background-color: #f4f4f4;
}
.Vaibhav {
  background-color: aliceblue;
}
