.groups {
  height: calc(100vh - 5rem);
  color: rgb(180, 179, 179);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group {
  width: calc(100%-2rem);
  border-bottom: 1px solid rgb(180, 179, 179);
  height: 4rem;
  padding: 0 1rem;
}
