.mainmanu {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  height: 5rem;
  background-color: rgb(6, 130, 88);
}
.img {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 2rem;
}
.img img {
  width: 4rem;
}
.btns {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(200, 214, 223);
}
