.main {
  display: flex;
  height: 100vh;
}
.auth {
  width: 50%;
  background-color: rgb(17, 27, 33);
  /* border: 1px solid salmon; */
}
.disc {
  width: 50%;
  padding: 2rem;
  background-color: rgb(34, 46, 53);
  color: rgb(180, 179, 179);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message {
  position: relative;
  top: 5px;
  left: -5px;
}
.tab {
  display: flex;
  justify-content: center;
}
.tab h5 {
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  color: rgb(180, 179, 179);
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .auth {
    width: 100%;
  }
  .disc {
    display: none;
  }
}
